<div class="sidebar"
     [class.open]="isOpen"
     (mouseenter)="isOpen = true"
     (mouseleave)="isOpen = false">

  <ul>
    
    <li>
      <a routerLink="/users" routerLinkActive="active">
        <span class="material-icons icon">groups</span>
        <span class="text">Liste Clients</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/client-assign/:id" routerLinkActive="active">
        <span class="material-icons icon">analytics</span>
        <span class="text">Liste Données</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/imports" routerLinkActive="active">
        <span class="material-icons icon">import_export</span>
        <span class="text">Imports & Exports</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/tableau-bord" routerLinkActive="active">
        <span class="material-icons icon">dashboard</span>
        <span class="text">Tableau de Bord</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/statistiques" routerLinkActive="active">
        <span class="material-icons icon">trending_up</span>
        <span class="text">Statistiques</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/salaries" routerLinkActive="active">
        <span class="material-icons icon">badge</span>
        <span class="text">Employés</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/mail-client" routerLinkActive="active">
        <span class="material-icons icon">email</span>
        <span class="text">Messagerie</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/spst" routerLinkActive="active">
        <span class="material-icons icon">medical_services</span>
        <span class="text">SPST</span>
      </a>
    </li>
   
  </ul>
</div>