:host {
  --bg-color: #031e36;
  --border-color: #84bdc5;
  --text-color: #84bdc5;
  --text-hover-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --hover-bg: rgba(132, 189, 197, 0.9);
}

.sidebar {
  width: 65px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: fixed;
  top: 50px;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 0 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 1000;
  margin-top: 20px;
  border-radius: 0 20px 20px 0;
  border: 2px solid var(--border-color);
}

.sidebar.open {
  width: 250px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar li {
  width: 100%;
  margin-bottom: 5px;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  border-radius: 0 30px 30px 0;
  margin-right: 10px;
  font-weight: 500;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: var(--hover-bg);
  color: var(--text-hover-color);
  transform: translateX(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.material-icons.icon {
  font-size: 24px;
  min-width: 40px;
  text-align: center;
  transition: transform 0.3s ease;
}

.sidebar a:hover .material-icons.icon,
.sidebar a.active .material-icons.icon {
  transform: scale(1.2);
}

.text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.sidebar.open .text {
  opacity: 1;
  visibility: visible;
}