.dashboard-wrapper {
  margin-left: 100px;
}
.filters {
  display: flex;
  gap: 1rem;
  margin: 30px;
  align-items: center;
  padding-top: 60px;
  background-color: #031e36;
}

.search-bar,
.indicator-filter {
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #84bdc5;
  padding-top: 80px;
  background-color: #031e36;

}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 1rem;
  background-color: #031e36;

}

.client-card {
  border: 5px solid #84bdc5;
  width: 200px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.155);
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.2s;
  gap: 16px;
  background-color: #031e36;
 
}

.client-card:hover {
  transform: scale(1.05);
}

.client-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  background-color: #031e36;

}

.client-name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  font-size: 30px;
  color: #84bdc5;
  background-color: #031e36;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.indicator {
  font-size: 0.8rem;
  padding: 3px 6px;
  border-radius: 4px;
  color: white;
}

.indicator.red {
  background-color: #e74c3c;
}

.indicator.green {
  background-color: #2ecc71;
}

.indicator.blue {
  background-color: #3498db;
}
.dashboard-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.dashboard-main {
  flex: 1;
}

.legend-box {
  width: 300px;
  min-width: 250px;
  border: 5px solid #84bdc5;
  border-radius: 6px;
  background: #fff;
  margin: 80px 30px 0 30px;
  padding: 18px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  background-color: #031e36;
margin-right: 150px;
  
}

.legend-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 12px;
  text-align: center;
  color: #84bdc5;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1em;
  color: #84bdc5;

}

.legend-indicator {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #eee;
}

.legend-indicator.red { background-color: #e74c3c; }
.legend-indicator.green { background-color: #2ecc71; }
.legend-indicator.blue { background-color: #3498db; }
.legend-indicator.orange { background-color: #f39c12; }
.legend-indicator.magenta { background-color: #9b59b6; }
.legend-indicator.purple { background-color: #8e44ad; }
.legend-indicator.brown { background-color: #8d5524; }
