<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/home">
        <span class="material-icons icon">home</span>
        <span class="text">Accueil</span>
      </a>
    </li>
    <div class="separator"></div>
    <li>
      <a routerLink="/users">
        <span class="material-icons icon">people</span>
        <span class="text">Liste Client</span>
      </a>
    </li>

    <div class="separator"></div>

    <li>
      <a routerLink="/home">
        <span class="material-icons icon">dashboard</span>
        <span class="text">Tableau de bord</span>
      </a>
    </li>
    

    <div class="separator"></div>

    <li class="services">
      <a href="javascript:void(0)">
        <span class="material-icons icon">business</span>
        <span class="text">Centre de Services</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/mail" routerLinkActive="active">
            <span class="material-icons icon">mail</span>
            <span>Traitement centralisé des mails</span>
          </a>
        </li>
        <li>
          <a routerLink="/content">
            <span class="material-icons icon">swap_horiz</span>
            <span class="text">Gestion des mouvements</span>
          </a>
        </li>
        <li>
          <a routerLink="/my-content" routerLinkActive="active">
            <span class="material-icons icon">mail</span>
            <span class="text">Typage des mails</span>
          </a>
        </li>
        <li>
          <a routerLink="/content">
            <span class="material-icons icon">file_copy</span>
            <span class="text">Gestion des imports</span>
          </a>
        </li>
        <li>
          <a routerLink="/content">
            <span class="material-icons icon">group</span>
            <span class="text">Déclarations des effectifs</span>
          </a>
        </li>
        <li>
          <a routerLink="/content">
            <span class="material-icons icon">bar_chart</span>
            <span class="text">Récapitulatif</span>
          </a>
        </li>
      </ul>
    </li>

    <div class="separator"></div>

    <li>
      <a routerLink="/settings">
        <span class="material-icons icon">settings</span>
        <span class="text">Paramétrage</span>
      </a>
    </li>
    <div class="separator"></div>

    <li>
      <a href="javascript:void(0)" (click)="openChatbot()">
        <span class="material-icons icon">chat</span>
        <span class="text">Assistant VigiScope</span>
      </a>
    </li>

    <div class="separator"></div>

    <li>
      <a routerLink="/login">
        <span class="material-icons icon">exit_to_app</span>
        <span class="text">Déconnexion</span>
      </a>
    </li>
    
  </ul>
</div>
<app-chatbot *ngIf="showChatbot" (close)="closeChatbot()"></app-chatbot>
