:host {
    --bg-color: #dfe8f1;
    --border-color: #84bdc5;
    --text-color: #84bdc5;
  }
  .ok {
    background-color: #ffff;
  }
  
  .container {
    display: flex;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    top:auto;
    margin-top: 70px;
  }
  
  .content-area {
    flex: 1;
    margin-left: 60px;
    padding: 20px;
    border: 5px solid var(--border-color);
    transition: margin-left 0.3s ease;
  }
  
  .content-area.sidebar-expanded {
    margin-left: 250px;
  }
  
  .actions {
    margin-bottom: 20px;
  }
  
  .actions button {
    margin-right: 10px;
  }
  